* {
  background-color: #181D31;
}

h1 {
  font-family: 'Montserrat';
  color: #E6DDC4;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
}


.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Bebas Neue';
  font-size: 4rem;
  color: #678983;
  font-weight: 900;
}

.nav-link {
  font-size: 1.3rem;
  font-family: 'Montserrat';
  font-weight: 300;
  color: #678983;
}

.desc {
  margin-bottom: 10px;
}

.img-holder {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin: auto;
}

.img {
  width: 300px;
  height: 300px;
  /* object-fit: cover; */
  border: 3px solid #F0E9D2;
}

.container-fluid input {
  display: none;
}

.upload-btn {
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 1rem;
  color: #E6DDC4;
}

.image-upload {
  cursor: pointer;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 1rem;
}

.pred {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  padding-top: 1rem;
  text-align: center;
  font-family: 'Ubuntu';
  font-size: 1.5rem;
  color: #678983;
  border-radius: 10px;
}